.DS_STORE

zsh/secret.zsh
zsh/.proxyenv
zsh/proxy.env
zsh/.zprofile

tmux/.tmux/plugins/*

yazi/plugins/*
!yazi/plugins/fzf.yazi/
!yazi/plugins/fzf.yazi/**
!yazi/plugins/zoxide.yazi/
!yazi/plugins/zoxide.yazi/**

nvim/lazy-lock.json
nvim/lazyvim.json

btop/btop.log

gh/*

karabiner/automatic_backups/*

vscode/syncLocalSettings.json

switchyomega/*

