.DS_STORE

zsh/secret.zsh
zsh/.zprofile

tmux/.tmux/plugins/*

yazi/plugins/*

nvim/lazy-lock.json
nvim/lazyvim.json

btop/btop.log

gh/*

karabiner/automatic_backups/*

vscode/syncLocalSettings.json

switchyomega/*

