[user]
    email = xxx@xxx
    name = username
[core]
    pager = delta
    ignorecase = false
[init]
    defaultBranch = main
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[pull]
    rebase = false
[github]
    user = username
[push]
    default = current
    autoSetupRemote = true
